<title>This application takes two list of integer (list1 and list2) and multiply list1 with the last element of list2 , as the same way multiply list2 with the last element of list1.If the arrays are equal,the app returns true else, returns false.</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
