<title>The biggest elements for all indices !</title>
  	</h1>This application takes four list of integer and create a new list of integers which have the biggest numbers in the all indices.</h1>
  	</h2>Please enter 4 different array of integers in the text areas.</h1>
  	</h3>Please write only one number for a line.The numbers should seperated by newline characters</h2>
  	
  	

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
